<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        LOREM IPSUM DOLOR, SIT AMET CONSECTETUR ADIPISICING ELIT. QUIA QUIBUSDAM
        QUARAT ILLO A MODE TENTANTEA FDHSAOFDSAHO JPODSA
      </p>
      <p>
        LOREM IPSUM DOLOR, SIT AMET CONSECTETUR ADIPISICING ELIT. QUIA QUIBUSDAM
        QUARAT ILLO A MODE TENTANTEA FDHSAOFDSAHO JPODSA
      </p>
      <p>
        LOREM IPSUM DOLOR, SIT AMET CONSECTETUR ADIPISICING ELIT. QUIA QUIBUSDAM
        QUARAT ILLO A MODE TENTANTEA FDHSAOFDSAHO JPODSA
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
